body
{
  color: rgb(147, 28, 28);
  background: #36549b;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(180, 39, 131);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.emoji_heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label
{
  font-size: 14px;
  color: black;
  padding: 6px;
  border-radius: 10px;
  background-color: rgb(77, 72, 224);
}